#master{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  top:center;
  left:center;
  width:1024;
  height:1050;
  z-index:1;
  border: black 1px solid;
  background-color: black;
  background-image: url('hvhjvh.gif');
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    z-index:1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



  #content {
    position:absolute;
    top:125px;
    left:0px;
    width:490px;
    height:500px;
    z-index:2;
    padding:5px;
    border:black 5px solid;
    background-color:#a5cde7;
    background-image:url(image31.jpg);
    overflow: auto;
    border-radius: 20px;
    }

    #body {
    position:absolute;
    top:125px;
    left:518px;
    width:490px;
    height:500px;
    z-index:2;
    padding:5px;
    border:black 5px solid;
    background-color:#a5cde7;
    background-image:url(.jpg);
    text-align: center;
    border-radius: 20px;
    }
